{% extends "teams/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_puzzle' 'css' %}
{% endblock %}

{% block script %}
{% render_bundle 'hunts_puzzle' 'js' attrs='defer' %}
	<script>
		"use strict"
		var hints = { {% for hint in hints %}
			'{{ hint.compact_id }}': {'time': '{{ hint.time }}', 'hint': '{{ hint.text|escapejs }}'}, {% endfor %}
		};
		var unlocks = {{% for unlock in unlocks %}
			'{{ unlock.compact_id }}': {
				'unlock': '{{ unlock.text|escapejs }}',
				'guesses': [{% for g in unlock.guesses %}'{{ g|escapejs }}'{% if not forloop.last %}, {%endif %}{% endfor %}],
				'hints': {{% for h in unlock.hints %}
					'{{ h.compact_id }}': {'time': '{{ h.time }}', 'hint': '{{ h.text|escapejs }}'}{% if not forloop.last %}, {% endif %}{% endfor %}
				}
			}{% if not forloop.last %}, {% endif %}{% endfor %}
		};
	</script>
{% endblock %}

{% block page_header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
{% if flavour %}
<section id="puzzle-flavour">
	<!-- This is just flavour text - not related to the puzzle! -->
	<span id="flavour-intro">Story: </span>
	{{ flavour | safe }}
</section>
{% endif %}
<section id="puzzle-content"{% if grow_section %} class="puzzle-grow"{% endif %}>
<!-- CLUE STARTS HERE -->
{{ text | safe }}
<!-- CLUE ENDS HERE -->
</section>

<section id="puzzle-clues">
<h3>Clues</h3>
{% if not hints and not unlocks %}
	<i>None yet</i>
{% endif %}
<ul id="hints">
</ul>
<ul id="unlocks">
</ul>
</section>

<section id="puzzle-answer">
{% if answered %}
<h2>Your correct answer{{ answered|pluralize }}</h2>
<div id="answer">
{% for guess in answered %}
<p>"{{ guess.guess }}" &mdash; entered by {{ guess.by.username }}</p>
{% endfor %}
</div>
{% elif ended %}
<h2>Event is over</h2>
{% endif %}
{% if admin or not answered and not ended %}
<form class="form-inline" action="an" method="POST">
	{% csrf_token %}
	<span id="answer-border">
		<input name="answer" id="answer-entry" class="form-control" placeholder="Enter guess" />
	</span>
	<button type="submit" id="answer-button" class="btn btn-primary" disabled="disabled">Guess!</button>
</form>
{% endif %}
{% if ended or admin %}
<button id="soln-button" class="btn btn-primary" data-toggle="collapse" data-target="#soln-content" data-url="{% url 'solution_content' episode_number=episode_number puzzle_number=puzzle_number %}">Show Solution</button>
<div id="soln-content" class="card card-body collapse">
</div>
{% endif %}
</section>
<section>
<h3>Guesses <button id="guesses-button" class="btn" data-toggle="collapse" data-target="#guesses-container" >Show</button></h3>
<div id="guesses-container" class="collapse">
	<table id="guesses">
		<tr class="guess-viewer-header">
			<th>User</th>
			<th>Guess</th>
		</tr>
	</table>
</div>
</section>
{% endblock %}
