#puzzle-flavour {
	font-size: 90%;
	font-style: italic;
	color: #555;
}

#flavour-intro {
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	color: #333;
}

#puzzle-clues ul {
    list-style: none;
    padding-left: 1em;
}

#puzzle-clues li {
    margin-top: 3pt;
}

#answer-button {
	width: 55px;
	height: 55px;
	padding: 0;
	overflow: hidden;
	position: relative;
	margin-left: 5px;
}

#answer-button[disabled] {
	opacity: 1;
	filter: alpha(opacity=1);
	background: #ccc;
	border-color: #bbb;
}

#answer-button svg {
	position: absolute;
	left: 0;
	top: 0;
}

#answer-entry {
	height: 53px;
	border-radius: 4px;
	font-size: 21px;
}

#answer-border {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
}

.submission-error-container {
    display: flex;
}

.submission-error {
    margin: auto 0 auto 1em;
}

#hints li, #unlocks li {
    margin-left: 16pt;
}

#unlocks > li {
    font-style: italic;
    > * {
        font-style: normal;
    }
}

#guesses td, #guesses th {
    padding: 3pt 6pt;
}

section {
    margin-bottom: 1em;
}

section.puzzle-grow {
    height: 75vh;
}

section:not(:last-child):after {
    content: "";
    display: block;
    margin: 1em 0 0 0;
    height: 1px;
    background: linear-gradient(to right, white 0%, #ccc 25% 75%, white 100%);
}

iframe#runtime {
    border: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
